body {
  font-family: "Poppins";
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins";
  font-weight: bold;
}

p {
  color: #808080;
}

/* Heading */

.big-heading {
  font-family: "Poppins";
  line-height: 1.5;
  font-size: 3.3rem;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Containers */

.container-fluid {
  padding: 7% 15%;
}

/* Sections */

.colored-section{
  background-color: #ff4c68;
  color: #fff;
}

.white-section{
  background-color: #fff;
}

/* Navigation Bar */

.navbar {
  padding: 0 0 4rem;
}

.navbar-brand {
  font-family: "Poppins";
  font-size: 2.5rem;
  font-weight: 500;
}

.nav-item {
  padding: 0 7px;
}

.nav-link {
  font-family: "Montserrat";
  font-size: 1.1rem;
}

/* Download Button */

.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Section */

#title .container-fluid{
  padding: 3% 14% 7%;
  text-align: left;
}

/* Title Image */

.title-image {
  width: 22%;
  transform: rotate(25deg);
  position: absolute;
  right: 24%;
}

/* Features Section */

#features {
  position: relative;
  z-index: 1;
}

.feature-title {
  font-size: 1.8rem;
}

.feature-box {
  padding: 5%;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

/* Testimonials Sections */

#testimonials {
  background-color: #ef8172;
}

.testimonials-img {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.testimonial-text {
  font-size: 2.2rem;
  line-height: 1.5;
}

#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 15px;
}

/* Pricing Section */

#pricing {
  padding: 100px;
}

.price-text {
  font-size: 2.2rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 2%;
}

/* Footer */

.social-icon {
  margin: 25px 10px;
}

/* Media */

@media (max-width: 1028px) {
  #title{
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
    width: 60%;
  }
}
